export PATH=$PATH:$GOPATH/bin
export FPTSHOP_PORT=1203
export FPTSHOP_VERIFYTOKEN="PhongLH318"
export FPTSHOP_PAGEACCESSTOKEN="EAAE7sYD34nsBALozY3qDaIWnJZBSVElPQYZAWWuQWnAOtIfuItWDbKBh2H2Xd6OyImyKNQKHKAZAZBpWe7ckq3jU36xSvVUVHI3B1WKf0nqN7zQmSzRgCZAeGEfXK3YG7MxFAyX6oTrwCpgwLA792JLls4RZCBr0TECRg2Gkp4awZDZD"
export FPTSHOP_APP_LOG_LEVEL=debug
export FPTSHOP_BOT_LOG_LEVEL=info
export FPTSHOP_WITTOKEN="PXJ5HTPP5L2Y63BM42SPWWUVNPRLED5K"
export FPTSHOP_TEXTFILE=$GOPATH/src/github.com/fpt-corp/fptshop/data/text.yml
export FPTSHOP_SILENCE_WAIT_TIME=5
export FPTSHOP_DIALOG_EXPIRED_TIME=360
export FPTSHOP_ORDER_API_URL=http://order.fptshop.com.vn/api/addorder
export FPTSHOP_SEARCH_API_URL=http://fptshop.com.vn/Ajax/SearchLucene/AutoComplete
export FPTSHOP_ORDER_API_KEY=10D8E30E814CCD617E59F71B8185D077

export FPTSHOP_DB_HOST=localhost
export FPTSHOP_DB_PORT=3306
export FPTSHOP_DB_USERNAME=username
export FPTSHOP_DB_PASSWORD=password
export FPTSHOP_DB_NAME=fptshopbot

export FPTSHOP_API_PORT=1204
export FPTSHOP_API_SECURITY_TOKEN=somerandomvalue
